    <%include template/header1 %>

    <div class="container">
        <div class="title">
            <div class="title_name">GIỎ HÀNG</div>
            <span><%= %> sản phẩm</span>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-8">
                    <div class="left">
                        <div><img src="<%=%>" alt=""></div>
                        <div class="item_info">
                            <p><%=%></p>
                            <p><%=%></p>
                            <a href="">Xóa</a>
                            <a href="">Mua sau</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="price"><%=%></div>
                        
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>

    <%include template/footer %>