<%include template/header1 %>

<div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>New Arrivals</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col text-center">
                <div class="new_arrivals_sorting">
                    <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".women">women's</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".accessories">accessories</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".men">men's</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

                    <!-- Product 1 -->
                    <%data.forEach(function(motphantu){%>
                    <div class="product-item <%=motphantu.cat%> ">
                        <div class="product discount product_filter">
                            <div class="product_image">
                                <img src="uploads/<%=motphantu.anhsp%>" alt="">
                            </div>
                            <div class="favorite favorite_left"></div>
                            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span><%=motphantu.info%></span></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html"><%=motphantu.title%></a></h6>
                                <div class="product_price"><%=motphantu.price%><span><%=motphantu.discount%></span></div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                        <div class="text-center">
                        <a href="/quantrisua/<%= motphantu._id %>"><i class="fa fa-edit    "></i></a> / 
                    <a onclick="return xoahaykhong('Ban co chac chan xoa khong ?');" href="/xoa/<%= motphantu._id %>">
                    <i class="fa fa-recycle" aria-hidden="true"></i>
                </div>
                    </div>
                 <% }) %>

                </div>
            </div>
        </div>
    </div>
<div class="mt-5"></div>
    <%include template/footer%>